@import "tailwindcss";



body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}



@keyframes slider {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-slider {
  animation: slider 25s linear infinite;
}


.clip-path-triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}